body {
    padding: 0;
    margin: 0;
    color: #143642;
    font-family: 'Roboto', sans-serif;
    background-color: #000;
}

.container {
    width: 100%;
    max-width: 1700px;
    height: 100vh;
    background-color: transparent;
    overflow: hidden;
}

@keyframes scale {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
            transform: scale(1);
    }
}