header {
    
}

footer {

}

.main {
    background-color: #dad2d8;
    position: absolute;
    top: 1vh;
    left: 1vw;
    height: 98vh;
    width: 98%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    font-size: 1.5vw;
}

h1 {font-size: 4vw;}
h2 {font-size: 2vw;}

.containerLogTable {
    width: 90vw;
    max-height: 60vh;
    overflow-y: scroll;
    border: 1px solid rgba(73, 73, 73, 0.6);   
}

.LoginLogsTable {
    border: 0;
    background-color: aliceblue;
    width: 100%;
}

.LoginLogsTable th { 
    background-color: aquamarine;
}

.LoginLogsTable th i {
    text-align: right;
 }

.LoginLogsTable td {
    
}

.LoginFilter {
    padding-bottom: 10px;
}

.LoginFilter button {
    border: 0;
    padding: 5px;
    background-color: transparent;
    color: red;
    font-weight: 600;
    font-size: 1.5vw;
}