<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login NornPeople Challenge</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
    <script src="{% static 'login/js/base.js' %}"></script>
</head>
<body>
    <header></header>
    <section>
        <div class="container">
            <h1 style="font-size: larger;">404: página no encontrada</h1>
        </div>
    </section>
    <footer></footer>
</body>
</html>