{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login NornPeople Challenge - cambiar contraseña</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/changePassword.css' %}">
</head>
<body>
    <header></header>
    <section>
        <div class="container">
            <form action="{% url 'changePassword' %}" method="POST" class="loginForm">
                <h3>Cambiar contraseña</h3>
                {% csrf_token %}
                <input type="password" placeholder="Contraseña Anterior" name="oldPassword" style="margin-bottom: 30px;">
                <input type="password" placeholder="Contraseña Nueva" name="newPassword" pattern="[A-Z0-9_]{8,}" title="mínimo 8 caracteres Alfanuméricos">
                <input type="password" placeholder="Repetir contraseña nueva" name="newPasswordRep" pattern="[A-Z0-9_]{8,}" title="mínimo 8 caracteres Alfanuméricos">
                <span style="color: red;">{{alert}}</span>
                <button type="submit">Cambiar Contraseña</button>
                <h4><a href="{% url 'welcome' %}">Regresar</a> / <a href="{% url 'logout_' %}">Cerrar Sesión</a></h4>
            </form>
        </div>
    </section>
    <footer></footer>
</body>
</html>