{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login NornPeople Challenge</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />
</head>
<body>
    <header></header>
    <section>
        <div class="container">
            <form action="{% url 'recoverPassword' %}" method="POST" class="loginForm" onclick="">
                <h1>Recuperar Contraseña</h1>
                {% csrf_token %}
                <input type="email" placeholder="correo electrónico" name="email" autocomplete="off">
                <span style="color: red;">{{alert|safe}}</span>
                <button type="submit">Enviar</button>
                <div>
                    <a href="{% url 'changePassword' %}" title="loguearse">¿Ya tienes el código? ENTRA AQUÍ</a> /
                    <a href="{% url 'login_' %}" title="loguearse" style="padding-top: 10px;">Iniciar Sesión</a>
                </div>
            </form>
        </div>
    </section>
    <footer></footer>
</body>
</html>