@keyframes parallax-x-left {
    100%{
     background-position:-500px 0px;
   }
 }

@keyframes parallax-x {
    0% { background-position: 0px 0px; }
    40% { background-position: 1px 0px; }
    80% { background-position: -1px 0px; }
    100% { background-position: 0px 0px; }
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
 }

.container .bgSky {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('/static/login/media/skybg.jpg');
    animation: parallax-x-left 100s linear infinite;
    background-repeat: repeat-x;
    background-size: cover;
}

.container .bgForest {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 960px;
    background-image: url('/static/login/media/forestbg.png');
    animation: parallax-x 3s linear infinite;
    background-repeat: repeat-x;
    background-size: cover;
}


.loginForm {
    animation: 1s ease-out 0s 1 fade-in;
    background-color: #dad2d83d;
    position: absolute;
    top: 20%;
    left: 20%;
    height: 60%;
    width: 60%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.loginForm * {
    width: 60%;
    text-align: center;
    letter-spacing: 5px;
    color: aliceblue;
}

.loginForm a {
    color:azure;
}

.loginForm h1,h2,h3 {
    font-family: 'Indie Flower', cursive;
    font-size: 4vw;
    font-weight: bolder;
}

.loginForm input {
    font-size: 1.5vw;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid aliceblue;
    margin-top: 1vh;
    margin-bottom: 1vh;
    letter-spacing: 1px;
}

.loginForm input::-webkit-input-placeholder {
    color: rgba(240, 248, 255, 0.589);
}

.loginForm input:focus {
    outline: 0;
}

.loginForm input:focus::-webkit-input-placeholder {
    color: transparent;
}

.loginForm input:focus::-moz-placeholder {
    color: transparent;
}

.loginForm input:focus::-ms-input-placeholder {
    color: transparent;
}


.loginForm button {
    margin-top: 4vh;
    margin-bottom: 1vh;
    border-radius: 30px;
    height: 5vh;
    font-size: 2vw;
    letter-spacing: 1px;
    transition: .5s;
    background-color: #75704e;
    border: 0;
    color: #ebe9ea;
    text-overflow: ellipsis;
}

.loginForm button:hover {
    background-color: #412234;
}

.loginForm a {
    font-size: 1vw;
    letter-spacing: 2px;
}

.loginForm a:hover {
    color: #774c60;
}