header {
    position: fixed;
    display: flex;
    height: 68px;
    width: 100%;
    background-color: #412234;
    border-bottom: 1px solid #000;
    color: aliceblue;
    align-items: center;
}

header div {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    overflow: hidden;
}

.hitem {
    margin: auto;
    padding-top:20px;
    font-size: 2vw;
}

header .menu {
    height: 100%;
    width: 20%;
    text-align: center;
    cursor: pointer;
}
header .menu:hover {
    color: gray;
}

footer {

}

.main {
    margin-top: 68px;
    background-color: #dad2d8;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    font-size: 1vw;
}


h1 {font-size: 4vw;}
h2 {font-size: 2vw;}

.containerLogTable {
    width: 90vw;
    max-height: 60vh;
    overflow-y: scroll;
    border: 1px solid rgba(73, 73, 73, 0.6);   
}

.LoginLogsTable {
    border: 0;
    background-color: aliceblue;
    width: 100%;
}

.LoginLogsTable th { 
    background-color: aquamarine;
}

.LoginLogsTable th i {
    text-align: right;
 }

.LoginLogsTable td {
    
}

.LoginFilter {
    padding-bottom: 10px;
}

.LoginFilter button {
    border: 0;
    padding: 5px;
    background-color: transparent;
    color: red;
    font-weight: 600;
    font-size: 1.5vw;
}