.main {
    /*animation: 1s ease-in-out 0s 1 scale;*/
    background-color: #dad2d8;
    position: absolute;
    top: 1vh;
    left: 1vw;
    height: 98vh;
    width: 98vw;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: top;
    align-content: center;
}

h1 {
    font-size: 3em;
}

.containerLogTable {
    width: 90vw;
    max-height: 60vh;
    overflow-y: scroll;
    border: 1px solid rgba(73, 73, 73, 0.6);   
}

.LoginLogsTable {
    border: 0;
    background-color: aliceblue;
    width: 100%;
}

.LoginLogsTable th { 
    background-color: aquamarine;
}

.LoginLogsTable th i {
    text-align: right;
 }

.LoginLogsTable td {
    
}

.LoginFilter {
    padding-bottom: 10px;
}

.LoginFilter button {
    border: 0;
    padding: 5px;
    background-color: transparent;
    color: red;
    font-weight: 600;
    font-size: .8em;
}